/* inter-regular - latin */
@font-face {
    font-display: swap; 
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('../src/assets/fonts/inter-v18-latin-regular.woff2') format('woff2');
  }
  /* cabin-condensed-regular - latin */
  @font-face {
    font-display: swap; 
    font-family: 'Cabin Condensed';
    font-style: normal;
    font-weight: 400;
    src: url('../src/assets/fonts/cabin-condensed-v20-latin-regular.woff2') format('woff2'); 
  }
  /* cabin-condensed-600 - latin */
  @font-face {
    font-display: swap; 
    font-family: 'Cabin Condensed';
    font-style: normal;
    font-weight: 600;
    src: url('../src/assets/fonts/cabin-condensed-v20-latin-600.woff2') format('woff2'); 
  }